html{
    height: 100%;
    width: 100%;
    background: rgb(236, 231, 231);

    --green2: #00ff11;
    --green1: #18b803;
    --green: #4fffbb;

    --blue: #021dFF;
    --blue1: #d834FF;
    --blue2: #5b1bFF;

    --red1: #FF2604;
    --red2: #FF21d8;
    --red: #FF7a20;

    --white: #FFFFFF;
    --black: #000000;
}

    

body{
    margin: 0;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

#container{
    width: 120vh;
    height: 84vh;

    margin: auto;

    display: grid;
    grid-template-columns: 15% 70% 15%;
}

#setting_container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}

#canvas{
    width: 100%;
    height: 100%;
    filter: drop-shadow(0 0 0.75rem rgb(226, 222, 219));
    background: white;
}

.pixel{
    float: left;
}

input[type=range]{
    -webkit-appearance: none;  
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 16px;

    background: white; 
    /*filter: drop-shadow(0 0 0.75rem rgb(226, 222, 219));*/
    border-radius: 25px;
    width: 20vh;
    height: 5vh;

    transform: rotate(270deg);
    transform-origin: center;
    
}

#resolution{
    margin-top: 9vh;
}

#clear{
    height: 8vh;
    width: 8vh;
    margin-top: 1vh;
    margin-bottom: 1vh;

    border: none;
    border-radius: 25%;
    background-color: whitesmoke;
}

#colors{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.color_button{
    width: 8vh;
    height: 8vh;
    padding: 0;

    border: none;
    border-radius: 50%;

    color: whitesmoke;
    filter: grayscale(25%) brightness(75%);
    text-shadow: 1px 1px 15px #797979af;

    cursor: pointer;
    font-family: Georgia, "Times New Roman", "KaiTi", "??", STKaiti, "????", serif;
    font-size: larger;
}

.screen{
    
    width: 8vh;
    height: 8vh;
    border-radius: 50%;
    opacity: 40%;
    z-index: -1;
}

#rainbow{
    background: linear-gradient(to bottom right, var(--red1), var(--blue), var(--green));
}

#red{
    background: linear-gradient(to bottom right, var(--red), var(--red1), var(--red2));
}

#blue{
    background: linear-gradient(to bottom right, var(--blue1), var(--blue), var(--blue2));
}

#green{
    background: linear-gradient(to bottom right, var(--green2), var(--green1), var(--green));
}

#white{
    background: var(--white);
    color: rgb(48, 48, 48)
}

#black{
    background: var(--black)
}

