html{
    height: 100%;
    width: 100%;
    background: whitesmoke;
}

body{
    margin: 0;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

#container{
    width: 100vh;
    height: 80vh;

    margin: auto;

    display: grid;
    grid-template-columns: 10% 80% 10%;
}

#slider_container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}

#canvas{
    width: 100%;
    height: 100%;
    filter: drop-shadow(0 0 0.75rem rgb(226, 222, 219));
    background: white;
}

.pixel{
    float: left;
}

input[type=range]{
    -webkit-appearance: none;  
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 16px;

    background: white; 
    /*filter: drop-shadow(0 0 0.75rem rgb(226, 222, 219));*/
    border-radius: 25px;
    width: 20vh;
    height: 5vh;

    transform: rotate(270deg);
    transform-origin: center;
    
}

#resolution{
    margin-top: 9vh;
}

#colors{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.color_button{
    width: 8vh;
    height: 8vh;

    border: none;
    border-radius: 50%;
}